/*
Copyright 2013 The Polymer Authors. All rights reserved.
Use of this source code is governed by a BSD-style
license that can be found in the LICENSE file.
*/

:host {
  display: inline-block;
  cursor: pointer;
}

:host:focus {
  outline: none;
}

#checkboxContainer {
  position: relative;
  width: 18px;
  height: 18px;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

#checkboxContainer.labeled {
  display: inline-block;
  vertical-align: middle;
}

#ink {
  position: absolute;
  top: -29px;
  left: -29px;
  width: 76px;
  height: 76px;
  pointer-events: none;
}

#checkbox {
  position: absolute;
  box-sizing: border-box;
  top: 0px;
  left: 0px; 
  width: 18px;
  height: 18px;
  border: solid 2px #666;
}

/* checkbox checked animations */
#checkbox.checked.box {
  -webkit-animation: box-shrink 140ms ease-out forwards;
  animation: box-shrink 140ms ease-out forwards;
}

@-webkit-keyframes box-shrink {
  0% {
    -webkit-transform: rotate(0deg);
    top: 0px;
    left: 0px;
    width: 18px;
    height: 18px;
  }
  100% {
    -webkit-transform: rotate(45deg);
    top: 13px;
    left: 5px;
    width: 4px;
    height: 4px;
  }
}

@keyframes box-shrink {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    top: 0px;
    left: 0px;
    width: 18px;
    height: 18px;
  }
  100% {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 13px;
    left: 5px;
    width: 4px;
    height: 4px;
  }
}

#checkbox.checked.checkmark {
  border-left: none;
  border-top: none;
  -webkit-animation: checkmark-expand 140ms ease-out forwards;
  animation: checkmark-expand 140ms ease-out forwards;
}

@-webkit-keyframes checkmark-expand {
  0% {
    -webkit-transform: rotate(45deg);
    top: 13px;
    left: 5px;
    width: 4px;
    height: 4px;
  }
  100% {
    -webkit-transform: rotate(45deg);
    top: -4px;
    left: 6px; 
    width: 10px;
    height: 21px;
    border-right: solid 2px #00bcd4;
    border-bottom: solid 2px #00bcd4;
  }
}

@keyframes checkmark-expand {
  0% {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 13px;
    left: 5px;
    width: 4px;
    height: 4px;
  }
  100% {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    top: -4px;
    left: 6px; 
    width: 10px;
    height: 21px;
    border-right: solid 2px #00bcd4;
    border-bottom: solid 2px #00bcd4;
  }
}

/* checkbox unchecked animations */
#checkbox.unchecked.checkmark {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  border-left: none;
  border-top: none;
  -webkit-animation: checkmark-shrink 140ms ease-out forwards;
  animation: checkmark-shrink 140ms ease-out forwards;
}

@-webkit-keyframes checkmark-shrink {
  0% {
    top: -4px;
    left: 6px; 
    width: 10px;
    height: 21px;
    border-right: solid 2px #00bcd4;
    border-bottom: solid 2px #00bcd4;
  }
  100% {
    top: 13px;
    left: 5px;
    width: 4px;
    height: 4px;
  }
}

@keyframes checkmark-shrink {
  0% {
    top: -4px;
    left: 6px; 
    width: 10px;
    height: 21px;
    border-right: solid 2px #00bcd4;
    border-bottom: solid 2px #00bcd4;
  }
  100% {
    top: 13px;
    left: 5px;
    width: 4px;
    height: 4px;
  }
}

#checkbox.unchecked.box {
  -webkit-animation: box-expand 140ms ease-out forwards;
  animation: box-expand 140ms ease-out forwards;
}

@-webkit-keyframes box-expand {
  0% {
    -webkit-transform: rotate(45deg);
    top: 13px;
    left: 5px;
    width: 4px;
    height: 4px;
  }
  100% {
    -webkit-transform: rotate(0deg);
    top: 0px;
    left: 0px;
    width: 18px;
    height: 18px;
  }
}

@keyframes box-expand {
  0% {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 13px;
    left: 5px;
    width: 4px;
    height: 4px;
  }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    top: 0px;
    left: 0px;
    width: 18px;
    height: 18px;
  }
}

/* label */
#checkboxLabel {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  padding-left: 8px;
}

#checkboxLabel[hidden] {
  display: none;
}